.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 10%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 55%
    right: 5%
  &-3 
    animation: float1 3s ease-in-out infinite alternate;
    position: absolute;
    top: 5%;
    left: 20%;
  &-4 
    animation: float1 3.2s ease-in-out infinite alternate;
    position: absolute;
    top: 40%;
    left: 5%;
  &-5 
    animation: float1 3.6s ease-in-out infinite alternate;
    position: absolute;
    top: 70%;
    left: 5%;


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
  
  
.banner-principal .tarjeta
  background-position: left 50% !important

.banner-principal__row .banner-principal__img
  width: 400px !important
  object-fit: cover;
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   

figcaption
  font-weight: normal

.title-with-decoration
  font-size: 1rem
  font-weight: 700
  position: relative
  display: inline-block
  padding: 10px 50px
  background-color: $color-adicional-2
  border-radius: 2rem
  margin-left: 4rem
  width: fit-content
  &::before
    content: url('../assets/curso/temas/arrows.svg')
    position: absolute
    width: 20px
    top: -6px
    left: -50px
@media screen and (max-width: 1199px)
  .title-with-decoration
    &::before
      top: 6px
      left: -49px

@media screen and (max-width: 991px)
  .title-with-decoration
    &::before
      top: -4px
      left: -49px

@media screen and (max-width: 767px)
  .title-with-decoration
    &::before
      top: 6px
      left: -49px


